<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StreamTrigger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="StreamTrigger.StreamTrigger" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <StreamTrigger.Properties.Settings>
            <setting name="ScriptFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="PollRateSeconds" serializeAs="String">
                <value>60</value>
            </setting>
        </StreamTrigger.Properties.Settings>
        <StreamTrigger.StreamTrigger>
            <setting name="ScriptFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="PollRate" serializeAs="String">
                <value>60</value>
            </setting>
        </StreamTrigger.StreamTrigger>
    </userSettings>
</configuration>
